
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-xs btn-default" routerLink="/books/create">+ Create Book</a>
  </div>
</div>

<div class="books">
  <div class="row">

    <div class="col-xs-12">
      <table class="table table-responsive table-hover table-striped table-books">
        <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Summary</th>
          <th>Pub Date</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books">
          <td>
            <a (click)="selectBook(book)">
              {{book.id}}
            </a>
          </td>
          <td>{{book.title}}</td>
          <td>{{book.summary}}</td>
          <td>{{book.pubDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>
            {{book.author.fullName}}
          </td>
          <td>
            <a [routerLink]="['/books', book.id]">
              Edit
            </a>
            <a (click)="removeBook(book)">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


    <div class="col-xs-4" *ngIf="selectedBook">
      <book-details [book]="selectedBook" ></book-details>
    </div>
    <div class="col-xs-8"></div>

  </div>

</div>
