<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Books and Authors Application</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" th:href="@{/ngapp/favicon.ico}" />
</head>
<body>
    <app-root></app-root>

    <script type="text/javascript" th:src="@{/ngapp/inline.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/ngapp/polyfills.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/ngapp/scripts.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/ngapp/styles.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/ngapp/vendor.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/ngapp/main.bundle.js}"></script>
</body>
</html>
